name: E2E Tests

on:
  push:
    branches: [main, e2e]

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./admin

    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Install Playwright Browsers
        run: bunx playwright install chromium --with-deps

      - name: Run E2E tests
        run: bun run test:e2e

      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: playwright-report
          path: admin/playwright-report/
          retention-days: 7
